/* header {
  height: 100px;
  text-align: end;
  background-color: lightcoral;
} */
p {
  height: 100px;
  width: 700px;
  text-align: end;
  background-color: lightcoral;
  position: fixed;
}
.box1 {
  height: 400px;
  width: 400px;
  background-color: pink;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  position: static;
}
.box2 {
  height: 400px;
  width: 400px;
  background-color: lightblue;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  position: relative;
  left: 50px;
}
.box3 {
  height: 400px;
  width: 400px;
  background-color: lightgreen;
  border-radius: 5px;
  margin: 5;
  padding: 5px;
  text-align: center;
  position: sticky;
}
.box4 {
  height: 400px;
  width: 400px;
  background-color: black;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  color: white;
}
.box5 {
  height: 400px;
  width: 400px;
  background-color: lightseagreen;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  align-content: center;
  position: absolute;
  bottom: 100px;
  left: 100px;
  z-index: -1;
}
img {
  height: 300px;
  width: 200px;
  background-color: lightseagreen;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  position: relative;
  top: 420px;
  left: 20px;
}
